*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 1em;
}

.search-box{
    width: 100%;
    padding: 0.5em;
    border-radius: 50px;
    border: solid black;
    outline: none;
}

.form-input{
    position: relative;
    margin: 0 auto;
    width: 400px;
    
}


/* 
.home-categories-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: minmax(40px, auto);
    position: relative;
    justify-content: center;
    grid-gap: 10px;
    top: 20%;
    
    
    
}

.form-group{
    grid-column: 1/5;
    grid-row: 1;
}

.one{
    
    grid-column: 2;
    grid-row: 3;
}

.two{
        
    grid-column: 3;
    grid-row: 3;
}

.three{
        
    grid-column: 1;
    grid-row: 4;
}

.four{
        
    grid-column: 2;
    grid-row: 4;
}

.five{
      
    grid-column: 3;
    grid-row: 4;
}

.six{
      
    grid-column: 4;
    grid-row: 4;
}

.seven{
      
    grid-column: 2;
    grid-row: 5;
}

.eight{
        
    grid-column: 3;
    grid-row: 5;
} */


